<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- cxf的核心配置  -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />

    <jaxws:client
            id="WSUserService"
            serviceClass="com.jk.ws.user.imp.WSUserService"
            address="http://localhost:8080/webservice/WSUserServiceImp?wsdl">
        <!-- 添加输出拦截器 -->
        <jaxws:outInterceptors>
            <bean class="com.jk.ws.AuthInterceptor">
                <constructor-arg name="userId" value="root" />
                <constructor-arg name="userPass" value="lzh" />
            </bean>
            <!-- 输出日志拦截器 -->
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
        </jaxws:outInterceptors>
    </jaxws:client>

</beans>